
<h1>GLobalLogic SalesDashBoard -VisualRepresentation through Charts</h1><hr>&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Charts</h2>&nbsp;&nbsp;&nbsp;
<div class="container" id="hari">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart"><b>GL BarChart</b></a><br><br>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart"><b>GL Doughnut Chart</b></a><br><br>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart"><b>GL Radar Chart</b></a><br><br>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart"><b>GL PieChart</b></a><br><br>
 
      <h4><marquee><b>Sales! Sales ! Sales ! Sales All Quarters - Representation -@author VegiHarendranath GlobalLogic</b></marquee></h4>
    </li>
  </ul>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>
<hr>